@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);;
}

div {
    font-family: Balsamiq Sans;
    text-align: center;
}
input {
    border-radius: 5px;
    outline: none;
    height: 30px;
}

#new-book-form {
    display: none;
    font-family: Balsamiq Sans;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    padding: 20px;
    padding-bottom: 4px;
    margin-bottom: 20px;
    width: 500px;
}

#main-heading {
    font-family: Balsamiq Sans;
}

.btn {
    font-family: Balsamiq Sans;
    text-align: center;
    display: block;
    margin: 10 auto;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 20px;
    transition: box-shadow 0.5s;
    font-size: 20px;
    outline: none;
}

.btn:active, .btn:hover{
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    transition: box-shadow 0.5s;
    background-color: grey;
    transition: background-color 0.5s;
    outline: none;
}